/*@import url(http://fonts.googleapis.com/css?family=Lily+Script+One|Open+Sans:400italic,400,700);
 */

body {
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.2em;
}
#editor {
    margin: 0;
    position: absolute;
    top: 34px;
    bottom: 0;
    left: 0;
    right: 50%;
}
iframe#run {
    margin: 0;
    position: absolute;
    top: 34px;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 100%;
    border: none;
}
canvas {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Lily Script One', cursive;
    font-weight: 400;
    margin-bottom: 0.5em;
    text-align: center;
}

img {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -128px;
    margin-left: -128px;
}

h1.special {
    position: absolute;
    top: 50%;
    margin-top: 140px;
    width: 100%;
}

p {
    text-align: center;
}

div.under {
    position: absolute;
    bottom: 0;
    width: 100%;
}

div#toolbar {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 34px;
    background: #888;
    width: 100%;
}

div#toolbar button {
    margin: 0;
    font-size: 12px;
    height: 31px;
    padding: 7px 1ex;
    margin: 1px;
    border: 1px solid #666;
    cursor: pointer;
    color: #000;
    background: #AAA;
    width: 20ex;
    border-radius: 4px;
}

div#toolbar button.right {
    float: right;
}
